{% extends 'base.html.twig' %}

{% block body %}
    <section class="wish-list">
        {% for wish in wishlist %}
            <article>
                <a href="{{ path('app_wishapp_wish_details', {'id': wish.id}) }}" title="View wish's details">
                    <p>{{ wish.title }}</p>
                </a>
            </article>
        {% endfor %}

    </section>
{% endblock %}

{% block title %}
WishList | BucketList }}
{% endblock %}

